# Sub Donors

The goal here is to determine total number of subscriber households, subscriber households who donated, and total donation amount by subscribers who donated.

In [ ]:
%reset

## Imports

In [86]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [2]:
os.chdir('/projects/customer/')

## User Inputs

In [3]:
first_day_of_first_fy = dt.datetime(2009, 7, 1)
last_day_of_last_fy = dt.datetime(2019, 6, 30)

## Import Data

Path from cwd to raw data files

In [6]:
path = "data/raw/"

Functions for data imports

In [22]:
def subscriber_data_import(series, fy_start=10, fy_end=19, path=path + 'subs/'):
    """
    This function retrieves all of the subscription files across a\
 user determined date range and series. 
    
    Keyword arguments:
    series -- either 'clx' or 'pops'
    fy_start -- earliest fiscal year in question (default 10)
    fy_end -- last fiscal year in question (default 19)
    path -- path to data (default 'data/raw/subs/')
    
    Returns:
    df -- pandas dataframe consisting of
    """
    
    accepted_series = ['clx', 'pops']
    
    if series.lower() not in accepted_series:
        raise ValueError('series must be of accepted series types: ', 
                         accepted_series)
    
    dataframes = []
    for i in range(fy_start, fy_end+1):
        file = f"FY{i}-{series.capitalize()}.csv"
        tmp = pd.read_csv(path + file, encoding="ISO-8859-1")
        tmp['fy'] = i
        dataframes.append(tmp)

    df = pd.concat(dataframes, ignore_index=True)
    
    return df

In [7]:
def donor_data_import(path=path):
    donor_raw = pd.read_csv(path + "donors_fy08-present.csv", encoding='ISO-8859-1')
    return donor_raw

Import the data

In [46]:
donor_copy = donor_data_import()

In [73]:
subs_clx = subscriber_data_import(series='clx')
subs_pops = subscriber_data_import(series='pops')

## Format Data

#### Donor Data

In [47]:
donor_fy = donor_copy.campaign.str[3:8] # parse last 5 characters of campaign column
donor_copy['fy'] = donor_fy # append that to a column named 'fy'

Identify which 'fys' don't start with an integer, these we can remove. Also, identify the years that are outside of the range in question

In [48]:
filter_fys = {fy: False for fy in donor_copy.fy.drop_duplicates()}
for fy,boo in filter_fys.items():
    try:
        int(fy[0])
        if (int(fy[3:]) > 9) & (int(fy[3:]) < 20):
            filter_fys[fy] = True
        else:
            continue
    except:
        continue

Map the fy column to identify rows to remove then remove them

In [52]:
donor_copy['keep'] = donor_copy['fy'].map(filter_fys)
donor_df = donor_copy.loc[donor_copy.keep].reset_index()
donor_df.drop(columns=['keep'], inplace=True)

Remove unnecessary columns

In [57]:
donor_cols = ['summary_cust_id', 'gift_plus_pledge', 'fy']
donor_df = donor_df[donor_cols]

Strip FY to only include the last two digits of fiscal year

In [55]:
donor_df['fy'] = donor_df['fy'].str[3:]

Aggregate donor by fiscal year

In [79]:
donor_df_aggregate = donor_df.groupby(['summary_cust_id', 'fy']).sum().reset_index()

In [87]:
donor_df_aggregate['fy'] = np.int64(donor_df_aggregate['fy'])

#### Subscriber Data

In [88]:
sub_cols = ['summary_cust_id', 'fy']
subs_clx = subs_clx[sub_cols]
subs_pops = subs_pops[sub_cols]

In [89]:
subs_clx = subs_clx.drop_duplicates()
subs_pops = subs_pops.drop_duplicates()

In [90]:
print(subs_clx.shape, subs_pops.shape)

(13471, 2) (8723, 2)

## Merge Data

In [94]:
clx_merge = pd.merge(subs_clx, donor_df_aggregate, on=['summary_cust_id', 'fy'], how='left')
pops_merge = pd.merge(subs_pops, donor_df_aggregate, on=['summary_cust_id', 'fy'], how='left')

In [99]:
clx_merge.fillna(0, inplace=True)
pops_merge.fillna(0, inplace=True)

In [103]:
clx_merge.head()

   summary_cust_id  fy  gift_plus_pledge
0           419478  10               0.0
1           419813  10             300.0
2           420202  10             100.0
3           420535  10               0.0
4           420635  10             304.0

In [174]:
def sub_donor_analysis(df):
    """
    This function aggregates total subs, total subs that donate,\
 and total donations from a dataframe. 
    
    Keyword arguments:
    df -- must contain three columns:
        1) summary_cust_id
        2) fy
        3) gift_plus_pledge
    
    Returns:
    dictionary -- a dictionary containing each fiscal year with the\
 below structure per fiscal year:
 
    {
        fy: {
            total_subs: <int>,
            total_subs_donating: <int>,
            percent_donating: <percent>,
            total_given_by_subs: <int>
        }
    }
    """
    
    stats = {
        'total_subs': 0,
        'total_subs_donating': 0,
        'percent_donating': 0,
        'total_given_by_subs': 0
    }
    
    init_dict = {fy:stats.copy() for fy in clx_merge['fy'].drop_duplicates()}
    
    for row in df.iterrows():
        fy = row[1]['fy']
        gift = row[1]['gift_plus_pledge']
                
        init_dict[int(fy)]['total_subs'] += 1
        
        if gift > 0:
            init_dict[int(fy)]['total_subs_donating'] += 1
            init_dict[int(fy)]['total_given_by_subs'] += gift

    
    for k,v in init_dict.items():
        v['percent_donating'] = v['total_subs_donating'] / v['total_subs']
        v['percent_donating'] = "{:.1%}".format(v['percent_donating'])
        v['total_given_by_subs'] = "${:,.2f}".format(v['total_given_by_subs'])
    
    return init_dict

In [175]:
clx = sub_donor_analysis(clx_merge)
pops = sub_donor_analysis(pops_merge)

In [176]:
pd.DataFrame(pops)

,10,11,12,13,14,15,16,17,18,19
percent_donating,34.9%,39.4%,35.6%,36.9%,40.6%,39.4%,45.5%,45.8%,39.3%,32.7%
total_given_by_subs,"$1,706,233.92","$2,142,963.25","$2,103,987.20","$2,499,787.97","$2,691,359.06","$1,947,364.57","$1,676,090.62","$1,793,688.57","$2,235,749.71","$1,621,558.94"
total_subs,1254,1067,1019,981,867,720,685,694,708,728
total_subs_donating,438,420,363,362,352,284,312,318,278,238